@using Leccion2.Models
@model ClienteModel


@{
    ViewBag.Title = "Agregar";
    List<SelectListItem> listaSexo = (List<SelectListItem>)ViewBag.lista;
}

<h2>Agregar</h2>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Agregar", "Cliente", FormMethod.Post, new { @id = "frmCliente" }))
        {
            <div>
                @Html.LabelFor(p => p.NOMBRE)
                @Html.TextBoxFor(p => p.NOMBRE, new { @class = "form-control" })
                @Html.ValidationMessage("NOMBRE", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.APPATERNO)
                @Html.TextBoxFor(p => p.APPATERNO, new { @class = "form-control" })
                @Html.ValidationMessage("APPATERNO", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.APMATERNO)
                @Html.TextBoxFor(p => p.APMATERNO, new { @class = "form-control" })
                @Html.ValidationMessage("APMATERNO", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.EMAIL)
                @Html.TextBoxFor(p => p.EMAIL, new { @class = "form-control" })
                @Html.ValidationMessage("EMAIL", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.DIRECCION)
                @Html.EditorFor(p => p.DIRECCION, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("DIRECCION", new { @class = "text-danger" })
            </div>

            //asdfasdf
            <div>
                @Html.LabelFor(p => p.IIDSEXO)
                @Html.DropDownList("IIDSEXO", listaSexo, null, new { @class = "form-control" })
                @Html.ValidationMessage("IIDSEXO", new { @class = "text-danger" })

            </div>
            <div>
                @Html.LabelFor(p => p.TELEFONOFIJO)
                @Html.EditorFor(p => p.TELEFONOFIJO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("TELEFONOFIJO", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.TELEFONOCELULAR)
                @Html.EditorFor(p => p.TELEFONOCELULAR, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("TELEFONOCELULAR", new { @class = "text-danger" })
            </div>
            <br />
            <div style="margin:auto">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Enviar
                </button>
                @Html.ActionLink("Regresar", "Index", "Marca", null, new { @class = "btn btn-danger" })
            </div>
        }
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Desea guardar los cambios?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div style="padding:1em">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="Agregar()"class="btn btn-info">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<script>
    function Agregar() {
        var frm = document.getElementById("frmCliente");
        frm.submit();
    }
</script>