@using Leccion2.Models
@model List<ClienteModel>

@{
    ViewBag.Title = "Index";
}

<h2>Listado Clientes</h2>
@Html.ActionLink("Agregar", "Agregar", "Cliente", null, new { @class = "btn btn-primary" })

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td width="10%">@Html.LabelFor(p => Model[0].IIDCLIENTE)</td>
            <td>@Html.LabelFor(p => Model[0].NOMBRE)</td>
            <td>@Html.LabelFor(p => Model[0].APPATERNO)</td>
            <td>@Html.LabelFor(p => Model[0].APMATERNO)</td>
            <td>@Html.LabelFor(p => Model[0].TELEFONOFIJO)</td>
            <td>Operaciones</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IIDCLIENTE</td>
                <td>@item.NOMBRE</td>
                <td>@item.APPATERNO</td>
                <td>@item.APMATERNO</td>
                <td>@item.TELEFONOFIJO</td>
                <td>
                    @Html.ActionLink(" ", "Editar", "Cliente", new { id = item.IIDCLIENTE }, new { @class = "glyphicon glyphicon-edit btn btn-primary" })
                    @Html.ActionLink(" ", "Eliminar", "Cliente", new { id = item.IIDCLIENTE }, new { @class = "glyphicon glyphicon-trash btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>